.performance__image {
    position: relative;
}

@media (min-width: 960px) {
    .performance__image {
        width: 960px;
        margin-left: -80px;
    }
}

.performance__img {
    width: 100%;
    border-radius: 0 0 var(--image-border-radius) var(--image-border-radius);
}

.performance__details {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    top: 0;
    color: var(--color-white);
    justify-content: space-between;
}

.performance__details__top {
    display: flex;
    justify-content: space-between;
}

.performance__title {
    margin: 0;
}

.performance__order {
    margin: 10px 0;
    padding: 0 20px;
}

.performance__order__link {
    display: block;
}

.performance__description {
    margin: 10px 0;
    padding: 0 20px;
}
