.scene {
    position: relative;
    overflow: hidden;
    height: calc(var(--scene-size) / 2);
    width: 100vw;
    margin-left: calc((100vw - 100%) / -2);
}

.ellipses {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: calc(var(--scene-size) + (var(--scene-size) / 5));
    height: var(--scene-size);
    transform: translateY(-50%);
}

.ellipses__inner,
.ellipses__outer {
    position: absolute;
    border: 1px solid var(--color-gray);
    background: var(--color-white);
    border-radius: 50%;
}

.ellipses__inner {
    width: 100%;
    height: 100%;
}

.ellipses__outer {
    left: 5px;
    top: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}

.ellipses__title {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 25%;
}

.lines {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.lines__left,
.lines__right {
    position: absolute;
    height: 5px;
    width: calc((100% - (var(--scene-size) + var(--scene-size) / 5) - 1px) / 2);
    border-bottom: 1px solid var(--color-gray);
    background: var(--color-white);
}

.lines__right {
    right: 0;
}

.chairs {
    width: 100vw;
    margin-left: calc((100vw - 100%) / -2);
    padding: 20px;
}

@media (min-width: 1280px) {
    .chairs {
        width: 1200px;
        margin-left: calc((1200px - 100%) / -2);
    }
}

.chairs__line {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.chairs__line__left,
.chairs__line__right {
    display: flex;
    justify-content: space-between;
    width: calc(50% - (var(--chair-size) / 2));
}

.chair {
    display: block;
    position: relative;
    border: 2px solid transparent;
    width: var(--chair-size);
    height: var(--chair-size);
    padding: 0;
    border-radius: var(--chairs-border-radius);
    background: var(--color-light-gray);
    cursor: pointer;
    transition: background-color var(--transition-fast),
                border-color var(--transition-fast);
}

.chair:hover,
.chair:focus {
    background: var(--color-light-gray);
    border-color: var(--color-pink);
}

.chair--active {
    background: var(--color-blue);
}

.chair--active:hover,
.chair--active:focus {
    background: var(--color-blue);
}

.chair__label {
    opacity: 0;
    transition: opacity var(--transition);
}

.chair--active .chair__label {
    opacity: 1;
}

.chair--1,
.chair--18 {
    margin-top: calc(var(--chair-size) / 1.2 * -8);
}

.chair--2,
.chair--17 {
    margin-top: calc(var(--chair-size) / 1.15 * -7);
}

.chair--3,
.chair--16 {
    margin-top: calc(var(--chair-size) / 1.2 * -6);
}

.chair--4,
.chair--15 {
    margin-top: calc(var(--chair-size) / 1.3 * -5);
}

.chair--5,
.chair--14 {
    margin-top: calc(var(--chair-size) / 1.5 * -4);
}

.chair--6,
.chair--13 {
    margin-top: calc(var(--chair-size) / 1.7 * -3);
}

.chair--7,
.chair--12 {
    margin-top: calc(var(--chair-size) / 1.7 * -2);
}

.chair--8,
.chair--11 {
    margin-top: calc(var(--chair-size) / 1.5 * -1);
}

.selection {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid var(--color-black);
    border-radius: var(--button-border-radius) var(--button-border-radius) 0 0;
}

.selection--hidden {
    display: none;
}

.selection__tickets {
    display: flex;
}

.selection__tickets__count::after {
    content: '|';
    display: inline-block;
    margin: 0 5px;
}

.selection__btn {
    min-width: 140px;
}
