<form id="js-checkout" class="checkout">
    <input id="js-checkout__id" type="hidden" name="id" value="{{ id }}">
    <div class="field field--input">
        <input
            type="text"
            class="input"
            name="checkout__name"
            id="js-checkout__name"
            required
            placeholder="Иия"
        />
    </div>
    <div class="field field--input">
        <input
            type="email"
            class="input"
            name="checkout__email"
            id="js-checkout__email"
            required
            placeholder="Email"
        />
    </div>
    <div class="field field--input">
        <input
            type="number"
            class="input"
            name="checkout__phone"
            id="js-checkout__phone"
            required
            placeholder="Телефон"
        />
    </div>

    <div class="field field--button">
        <button id="js-checkout__submit">Заказать</button>
    </div>
</form>