<div id="js-notification" class="notification notification--hidden">
    <div class="notification__wrapper">
        <div id="js-notification__message" class="notification__message"></div>
        <button
            id="js_notification__close"
            class="notification__close"
        >
            Закрыть
        </button>
    </div>
</div>