<div class="scene">
    <div class="lines">
        <div class="lines__left"></div>
        <div class="lines__right"></div>
    </div>
    <div class="ellipses">
        <div class="ellipses__inner"></div>
        <div class="ellipses__outer"></div>
        <div class="ellipses__title">Сцена</div>
    </div>
</div>