<div id="js-selection" class="selection selection--hidden">
    <div id="selection__tickets" class="selection__tickets">
        <div id="js-selection__tickets__count" class="selection__tickets__count"></div>
        <div id="js-selection__tickets__price" class="selection__tickets__price"></div>
    </div>

    <div class="selection__button">
        <button id="js-selection__btn" class="selection__btn btn">
            Далее
        </button>
    </div>

    <div id="js-selection__details" class="selection__details selection__details--hidden">
        <ul id="js-selection__tickets" class="selection__tickets"></ul>

        <form id="js-checkout" class="checkout">
            <div class="field field--input">
                <input
                    type="text"
                    name="checkout__name"
                    id="js-checkout__name"
                    placeholder="Иия"
                />
            </div>
            <div class="field field--input">
                <input
                    type="email"
                    name="checkout__email"
                    id="js-checkout__email"
                    placeholder="Email"
                />
            </div>
            <div class="field field--input">
                <input
                    type="number"
                    name="checkout__phone"
                    id="js-checkout__phone"
                    placeholder="Телефон"
                />
            </div>

            <div class="field field--button">
                <button>Заказать</button>
            </div>
        </form>
    </div>
</div>