<div id="js-selection" class="selection selection--hidden">
    <div id="selection__tickets" class="selection__tickets">
        <div id="js-selection__tickets__count" class="selection__tickets__count"></div>
        <div id="js-selection__tickets__price" class="selection__tickets__price"></div>
    </div>

    <div class="selection__button">
        <button id="js-selection__btn" class="selection__btn btn">
            Далее
        </button>
    </div>
</div>