@import "blocks/main.css";
@import "blocks/button.css";
@import "blocks/performance.css";
@import "blocks/performance_list.css";
@import "blocks/tickets.css";

:root {
    --image-border-radius: 10px;

    --color-white: #fff;
    --color-pink: #FF6565;
    --color-pink-dark: #fc2d2d;
    --color-gray: lightgray;
    --color-light-gray: #C4C4C4;

    --button-border-radius: 10px;

    --chairs-border-radius: 3px;
    --chair-size: 25px;

    --transition: ease-in-out 0.3s;
}