@import "blocks/main.css";
@import "blocks/performance.css";
@import "blocks/performance_list.css";

:root {
    --image-border-radius: 10px;

    --color-white: #fff;

    --transition: ease-in-out 0.3s;
}