---
layout: layout.liquid
scripts: ['performance.js']
---

<div class="main">
    {% include performance/item.liquid %}

    <!-- TODO: Now shows all performances and events. Needs to resolve it -->
    {% include performance/list.liquid %}
</div>