<article class="performance">
    {% include performance/item_card.liquid %}

    <div class="performance__order">
        <button class="button performance__order__button">
            Выбрать Билет
        </button>
    </div>

    <div class="performance__description">
        <p>{{ description }}</p>

        <ul>
            {% for event in events %}
                <li>
                    <time class="archive__year" datetime="{{ event.date | date: "%d.%m.%Y" }}">{{ event.date | date: "%d.%m.%Y" }}</time>
                </li>
            {% endfor %}
        </ul>
    </div>
</article>