<div class="performance__image">
    <img class="performance__img" src="../../images/main.jpg" alt="{{ name }}" />

    <div class="performance__details">
        <div class="performance__details__top">
            <h1 class="performance__title">
                {{ name }}
            </h1>
        </div>
        <div class="performance__details__bottom">
            <div class="performance__address">
                {{ address }}
            </div>
        </div>
    </div>
</div>